.hero {
  padding-top: 45px;
  padding-bottom: 50px;
}

.hero-left {
  padding-right: 30px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.hero-content h1 {
  font-size: 34px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.hero-img-wrapper {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
}

.hero-img-2 {
  position: absolute;
  top: -14%;
  left: 19%;
}

.hero-img-3 {
  position: absolute;
  top: -77px;
  right: -46px;
}

.hero-left {
  padding-right: 30px;
}

.hero-img-3 img {
  width: 58%;
}

.hero-img-2 img {
  width: 72%;
}

.hero-img img {
  width: 69%;
}

.hero-img-content {
  position: absolute;
  bottom: -5%;
  left: 6%;
  width: 275px;
  border-radius: 9px;
  border: 1.5px solid rgb(136, 90, 22);
  background: rgb(255, 244, 227);
  padding: 20px 10px;
}

.hero-img-icon {
  position: absolute;
  top: -11%;
  left: -9%;
}

.hero-text-item h4 {
  font-size: 14px;
  font-weight: 600;
}

.hero-text-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.hero-line {
  width: 45px;
  height: 2px;
  background: rgb(0, 0, 0);
}

.hero-img-content p {
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
}

.hero-img {
  width: 100%;
  text-align: right;
}

.hero-right {
  border-radius: 8px;
  box-shadow: rgba(16, 24, 40, 0.1) 0px 20px 40px -8px, rgba(16, 24, 40, 0.05) 0px 20px 40px -8px;
}

.hero-form-box {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.hero-form-box button {
  width: 100%;
  border: none;
  background: rgb(245, 242, 239);
  padding: 14px;
  color: rgb(75, 72, 72);
  font-size: 16px;
  font-weight: 400;
}

.hero-form-content {
  padding: 30px 40px 50px;
}

.travel-form-title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(192, 184, 172);
  margin-bottom: 20px;
}

.travel-form-title h1 {
  font-size: 24px;
  font-weight: 600;
}

.form-input-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 13px;
}

.form-input-item label {
  font-size: 16px;
  color: rgb(8, 5, 1);
}

.form-input-item input {
  padding: 9px 16px;
  border-radius: 4px;
  border: 1px solid rgb(200, 197, 194);
  background: rgb(255, 255, 255);
  width: 100%;
}

.form-input-item textarea {
  padding: 9px 16px;
  border-radius: 4px;
  border: 1px solid rgb(200, 197, 194);
  background: rgb(255, 255, 255);
  width: 100%;
}

select.form-input-select {
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgb(200, 197, 194);
  background: rgb(255, 255, 255);
  font-size: 14px;
}

.form-input-cost {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 9px 16px;
  border-radius: 4px;
  border: 1px solid rgb(200, 197, 194);
  background: rgb(255, 255, 255);
}

.form-input-cost input {
  width: 100%;
  border: none;
  padding: 0px;
}

.travel-btn {
  border-radius: 4px;
  padding: 12px;
  transition: all 0.4s ease 0s;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.travel-next-btn:hover {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.travel-back-btn:hover {
  border: 1px solid var(--primary-color);
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(255, 153, 0) 0%, rgba(208, 85, 16, 0.8) 100%) !important;
}

.travel-back-btn {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.travel-back-btn2 {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.tab-btn.active {
  border-bottom: 1.5px solid rgb(228, 121, 9);
  color: rgb(182, 97, 3);
  background: rgb(255, 232, 211);
  font-size: 16px;
  font-weight: 600;
}

.phone-number-fluild {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(200, 197, 194);
}

.phone-number-fluild .nice-select {
  border: none;
}

.phone-number-fluild input {
  border: none;
}

.travel-form-details h4 {
  font-size: 20px;
  font-weight: 600;
}

.travel-form-details {
  padding-bottom: 20px;
}

.travel-form-details-content {
  background: rgb(255, 251, 248);
  padding: 15px;
  margin-top: 12px;
  font-size: 16px;
}

.travel-form-details-content ul li {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 1px solid rgb(193, 186, 186);
  margin-bottom: 10px;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: rgb(204, 204, 204);
  border-radius: 16px;
  width: 58px;
  height: 27px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s ease 0s;
}

.toggle-switch::before, .toggle-switch::after {
  content: "";
}

.toggle-switch::before {
  display: block;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 1px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s ease 0s;
}

.toggle:hover .toggle-switch::before {
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
}

.toggle-checkbox:checked + .toggle-switch {
  background: rgb(255, 153, 0);
}

.toggle-checkbox:checked + .toggle-switch::before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.travel-bank-text {
  padding: 15px;
  background: rgb(254, 250, 243);
  text-align: center;
  margin-top: 10px;
}

.travel-bank-text span {
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 153, 0);
}

.travel-input-bkash-item {
  border-radius: 4px;
  border: 1px solid rgb(200, 197, 194);
  background: rgb(249, 245, 240);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.travel-input-bkash-item input {
  border: none;
  background: none;
}

.travel-upload-wrapper {
  margin-top: 20px;
}

.upload-img-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-img-header h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 146%;
}

.upload-img-content {
  border-radius: 4px;
  border: 0.5px dashed rgb(189, 171, 160);
  background: rgb(248, 246, 244);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.upload-or {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.upload-or .or-line {
  width: 100%;
  height: 1px;
  background: rgb(152, 148, 148);
}

.travel-input-bkash-item p {
  font-size: 15px;
  color: rgb(119, 119, 119);
  opacity: 0.76;
}

div#copyButton {
  font-size: 14px;
}

.travel-bkash-number {
  margin-bottom: 15px;
}

.select-gender {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 0px 10px;
  width: 100%;
  z-index: 1;
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.select-list-items {
  position: absolute;
  top: 32px;
  left: 0px;
  border-radius: 0px 0px 5px 5px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(67, 70, 70, 0.1) 0px 8px 19px 0px, rgba(67, 70, 70, 0.09) 0px 34px 34px 0px, rgba(67, 70, 70, 0.05) 0px 76px 46px 0px, rgba(67, 70, 70, 0.01) 0px 136px 54px 0px, rgba(67, 70, 70, 0) 0px 212px 59px 0px;
  overflow-y: auto;
  max-height: 250px;
  cursor: pointer;
  width: 100%;
  display: none;
}

.show {
  display: block;
}

.close {
  display: none;
}

.select-list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  transition: all 0.4s ease 0s;
}

.select-list-item:hover {
  background-color: rgb(221, 221, 221);
}

.upload-img-content {
  display: flex;
  align-items: center;
}

.upload-img {
  margin-right: 20px;
}

.upload-input-fuild {
  display: flex;
  flex-direction: column;
}

#previewImage {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
}

#imageInput {
  display: none;
}

section.trusted-client {
  background: rgb(255, 250, 246);
  padding: 50px 0px;
  overflow-x: hidden;
}

.trusted-client-wrapper h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}

.trusted-client-img {
  margin-top: 40px;
  display: flex;
  width: fit-content;
  gap: 10px;
}

.trusted-client-img ul {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  list-style: none;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: 20s linear 0s infinite normal none running marquee;
  padding: 20px 0px;
}

.trusted-client-img ul li {
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(16, 24, 40, 0.08) 0px 6px 15px -2px, rgba(16, 24, 40, 0.08) 0px 6px 15px -2px;
  padding: 15px 8px;
  width: 248px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@keyframes marquee {
  0% {
      transform: translateX(0px);
  }

  100% {
      transform: translateX(-100%);
  }
}

.about-us-img {
  text-align: right;
  padding-right: 20px;
}

.about-us-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(16, 24, 40, 0.08) 0px 6px 15px -2px, rgba(16, 24, 40, 0.08) 0px 6px 15px -2px;
  width: fit-content;
  padding: 15px 20px;
}

.about-us-icon.about-us-icon-2 {
  position: absolute;
  bottom: 4%;
  left: 3%;
}

.about-us-left {
  position: relative;
}

.about-us-icon.about-us-icon-1 {
  position: absolute;
  left: 0%;
  bottom: 22%;
}

.about-us-right h2 {
  font-size: 30px;
  line-height: 150%;
  font-family: var(--primary-font);
  margin-bottom: 20px;
  font-weight: 700;
}

a.gallery-link {
  color: rgb(209, 125, 0);
  font-size: 20px;
  font-weight: 600;
}

.about-us-right p {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 150%;
}

.about-us-count-left {
  padding-right: 20px;
}

.about-us-count-lists {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.about-us-count-list {
  border-radius: 10px;
  background: rgb(255, 249, 238);
  padding: 20px;
  width: 220px;
}

.about-us-count-lists-1 {
  justify-content: end;
  padding-right: 30px;
}

.about-us-count-lists-1 .about-us-count-list:nth-child(2) {
  background: rgb(238, 249, 255);
}

.about-us-count-lists-2 .about-us-count-list:nth-child(1) {
  background: rgb(231, 245, 232);
}

.about-us-count-lists-2 .about-us-count-list:nth-child(2) {
  background: rgb(254, 237, 250);
}

.about-us-count-list h5 {
  font-size: 24px;
  font-weight: 600;
  padding: 17px 0px 10px;
}

.about-us-count-lists.about-us-count-lists-2 {
  padding-left: 20px;
}

.full-width-video {
  width: 100%;
  height: 100%;
}

.about-us-count-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-video-img img {
  width: 100%;
}

.about-us-video-btn {
  position: absolute;
  border: none;
  background: none;
}

.about-us-rokect-img {
  position: absolute;
  left: -11%;
  top: -18%;
}

.about-us-rokect-img img {
  width: 80%;
}

.btn-close-video {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--white-color);
  border: 1px solid rgb(2, 2, 2);
  z-index: 1;
}

.our-service-title h1 {
  font-size: 32px;
  font-family: var(--primary-font);
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  font-weight: 600;
  line-height: 145%;
}

section.our-service {
  background: rgb(255, 244, 233);
  padding: 60px 0px;
}

.our-service-wrapper {
  display: grid;
  grid-template-columns: 32% 22% 22% 22%;
  padding: 10px;
  gap: 10px;
}

.our-service-img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease 0s;
}

.our-service-img:nth-child(1):hover {
  transform: scale(1.1);
}

.our-service-img img {
  width: 100%;
  height: 100%;
}

a.our-service-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
}

a.our-service-card p {
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 4px 4px;
  background: linear-gradient(91deg, rgba(10, 28, 53, 0.6) 0.57%, rgba(8, 14, 15, 0.34) 90.28%);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
}

.our-service-card-item.item-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-service-card-item.item-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-service-card-item.item-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a.our-service-card.our-service-card-seven {
  border-radius: 4px;
  background: rgb(153, 225, 240);
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

a.our-service-card.our-service-card-seven h5 {
  color: rgb(29, 29, 29);
  font-size: 19px;
  line-height: 140%;
}

.about-us-rokect-img {
  position: absolute;
  left: -11%;
  top: -18%;
}

.about-us-rokect-img img {
  width: 80%;
}

.message-img img {
  width: 100%;
}

.message-right {
  position: relative;
}

.message-right h2 {
  font-size: 32px;
  line-height: 150%;
  font-family: var(--primary-font);
  margin-bottom: 20px;
  font-weight: 600;
}

.message-right p {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 150%;
  color: rgb(74, 74, 74);
}

.message-name {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
}

.message-line {
  width: 40px;
  height: 2px;
  background: rgb(66, 63, 63);
}

.message-line-icon {
  position: absolute;
  top: -21%;
  right: -13%;
}

.client-user-item {
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(120, 115, 115, 0.25) 0px 4px 16px 0px;
  padding: 20px 20px 30px 20px;
  margin-top: 20px;
  height: 322px;
  margin-bottom: 15px;
}

.client-user-items {
  margin-bottom: 20px;
}

.client-user-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: start;
  margin-bottom: 30px;
}

.client-user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  height: 100%;
}

.user-client-text h5 {
  line-height: 150%;
  font-size: 18px;
  font-weight: 600;
}

.user-client-text p {
  font-size: 14px;
  font-weight: 400;
}

.client-review {
  display: flex;
  align-items: center;
  gap: 10px;
}

p.client-text {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 30px;
}

.client-title h2 {
  font-size: 32px;
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.team-member-content h2 {
  font-size: 32px;
  font-family: var(--primary-font);
  font-weight: 600;
}

.team-member-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-member-item {
  width: 100%;
  padding-bottom: 40px;
}

.team-member-img img {
  width: 100%;
}

.team-member-img {
  margin-bottom: 20px;
}

.team-member-item p {
  font-size: 18px;
  font-weight: 600;
}

.team-member-item span {
  font-size: 14px;
  color: rgb(74, 74, 74);
  font-weight: 400;
}

.swiper-arrow-btn {
  position: relative;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
}

.swiper-arrow-btn .button-next, .button-prev {
  border-radius: 100px;
  background: rgb(254, 244, 230);
  padding: 10px;
}

.faq-head {
  margin-bottom: 30px;
}

.faq-head h2 {
  font-size: 33px;
  font-family: var(--primary-font);
  margin-bottom: 10px;
  font-weight: 600;
}

.faq-question-title {
  display: flex;
  padding: 20px;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.faq-question-title.active {
  border-radius: 12px 12px 0px 0px;
  background: rgb(59, 47, 145);
  color: var(--white-color);
}

.faq-question-title.active button {
  color: var(--white-color);
}

.faq-question-title.active .plus-icon {
  transform: rotate(45deg);
}

.faq-question-title.active .plus-icon svg path {
  fill: rgb(212, 68, 68);
}

.faq-question-title button {
  border: none;
  background: none;
  font-size: 18px;
  text-align: start;
  line-height: 150%;
}

.faq-content-list {
  border-bottom: 1px solid rgb(232, 232, 232);
}

.faq-content-list-con {
  border-radius: 10px;
  background: var(--Main-Color-White, #fcfcfc);
  box-shadow: rgba(6, 28, 61, 0.08) 0px 12px 56px 0px;
  padding: 30px;
}

.faq-img img {
  width: 100%;
}

p.faq-question-answer {
  padding: 10px 15px;
}

.contact-us-title h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--primary-font);
  text-align: center;
  width: 33%;
  margin: auto;
  padding-bottom: 40px;
  line-height: 147%;
}

.contact-us-left {
  border-radius: 24px 0px 0px 24px;
  background: rgb(59, 47, 145);
  padding: 70px;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.contact-title h2 {
  font-size: 33px;
  font-weight: 600;
}

.contact-us-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-us-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-us-icon {
  background: rgba(255, 255, 255, 0.08);
  padding: 10px;
  border-radius: 50%;
}

.contact-us-text span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.connect-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.connent-line {
  width: 40px;
  height: 2px;
  background: rgb(255, 255, 255);
}

.social-icon-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icon {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.social-icon:hover {
  background-color: rgb(255, 255, 255);
  transform: translateY(-5px);
}

.social-icon:hover svg path {
  fill: rgb(26, 152, 223);
}

.contact-us-wrapper {
  border-radius: 24px;
  background: var(--Gray-00, #fff);
  box-shadow: rgb(237, 237, 242) 0px 8px 20px 0px;
}

.connect-us {
  padding-top: 30px;
}

.contact-us-right {
  padding: 40px;
}

.send-message-btn button {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.contact-shap {
  position: absolute;
  top: -5%;
  right: -5%;
}

.contact-shap img {
  width: 100%;
}

.image-slider-item img {
  width: 100%;
}

.modal-wrapper-con {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 100px 0px;
  z-index: 9999;
}

.modal-content-con {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-con .btn-img-close {
  background: var(--main-color);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.modal-content-con .btn-img-close img {
  width: 100%;
}

.modal-content-con img {
  width: 100%;
}

footer.footer {
  background: rgb(37, 23, 6);
  padding: 50px 0px 30px;
}

.footer-logo {
  text-align: center;
  margin-bottom: 40px;
}

.footer-wrapper {
  border-top: 1px solid rgb(74, 63, 51);
  border-bottom: 1px solid rgb(74, 63, 51);
  padding: 50px 0px;
  color: var(--white-color);
}

.footer-list-item h3 {
  color: rgb(230, 186, 119);
  margin-bottom: 30px;
  font-size: 25px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer-list a {
  color: var(--white-color);
}

.quick-link-item {
  display: flex;
  gap: 50px;
}

.quick-link-item ul li a {
  color: var(--white-color);
  margin-bottom: 10px;
  transition: all 0.4s ease 0s;
}

.quick-link-item ul li a:hover {
  color: rgb(230, 186, 119);
}

.footer-list-item.footer-list-item-link {
  border-right: 1px solid rgb(76, 61, 41);
  border-left: 1px solid rgb(76, 61, 41);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer-list-item {
  height: 100%;
}

.footer-list-item-social {
  padding-left: 30px;
}

.footer-copy-text {
  text-align: center;
  padding-top: 30px;
  color: var(--white-color);
  font-weight: 400;
}

section.service-item {
  padding: 50px 0px;
}

.service-header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 25px;
}

.service-box {
  width: 16px;
  height: 16px;
  background: rgb(255, 153, 0);
}

.service-header a {
  color: rgb(165, 165, 165);
}

h1.service-title {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--primary-font);
  margin-bottom: 15px;
}

.service-price {
  padding-top: 15px;
}

.service-content {
  margin-top: 40px;
}

.service-img img {
  width: 100%;
}

.serivce-footer-content {
  margin-top: 40px;
}

.service-content p {
  font-weight: 400;
}

.serivce-footer-content p {
  font-weight: 400;
}

.serivce-footer-content h5 {
  margin-top: 30px;
  line-height: 160%;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.service-vedio-content {
  padding-top: 40px;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-vedio-btn {
  position: absolute;
  border: none;
  background: none;
}

.service-vedio-btn img {
  width: 50px;
}

.service-content-header {
  text-align: center;
  width: 75%;
  margin: auto;
  padding-bottom: 40px;
}

.service-video-content {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.service-video-img img {
  width: 100%;
}

.gallery-img-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.gallery-details {
  padding: 50px 0px;
}

.gallery-header {
  margin-bottom: 35px;
}

.gallery-text {
  padding-top: 40px;
}

.gallery-text p {
  font-size: 23px;
  line-height: 150%;
  font-weight: 400;
}

.gallery-img img {
  width: 100%;
}

.swiper-gallery-btn {
  position: absolute;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
}

.swiper-gallery-btn {
  background: none;
}

.swiper.GalleryImage.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.error {
  padding: 50px 0px 100px;
}

.error-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-content h1 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.about-us-video-btn img {
  width: 50px;
}

.error-img {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-img img {
  width: 60%;
}

.travel-input-bkash-image {
  width: 100%;
}

.travel-input-bkash-image img {
  width: 100%;
}

.model-verification-content {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.model-verification-content {
  padding: 50px 40px;
}

.verification-header h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.verification-header {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(199, 204, 207);
}

.verification-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.verification-wrapper span {
  width: 100%;
  height: 50px;
  background-color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  justify-content: center;
}

.verification-btn .custom-btn {
  background-color: rgb(255, 153, 0);
  width: 100%;
  padding: 7px;
  border-radius: 6px;
}

.verification-btn p {
  color: rgb(119, 119, 119);
  font-size: 14px;
  padding-bottom: 6px;
}

.verification-btn span {
  color: rgb(74, 74, 74);
}

.verification-header p {
  color: rgb(119, 119, 119);
}

.verification-headerspan {
  color: rgb(74, 74, 74);
}

.thank-you-img {
  width: 60%;
  margin: auto;
}

.thank-you-img img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-you-text {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
}
